<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<display-name>INSAProject</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/views/login/login.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 로그인 로그아웃 -->
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.min.edu.ctrl.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/loginServlet.do</url-pattern>
	</servlet-mapping>

	<!-- 강사 전체 조회 -->
	<servlet>
		<servlet-name>teachList</servlet-name>
		<servlet-class>com.min.edu.ctrl.TeachListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>teachList</servlet-name>
		<url-pattern>/teachListServlet.do</url-pattern>
	</servlet-mapping>
	
	<!-- 강사 이름 조회 -->
	<servlet>
		<servlet-name>SearchTeaServlet</servlet-name>
		<servlet-class>com.min.edu.ctrl.SearchTeaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchTeaServlet</servlet-name>
		<url-pattern>/SearchTeaServlet.do</url-pattern>
	</servlet-mapping>
	<!-- 강사 추가 -->
	<servlet>
		<servlet-name>teachAdd</servlet-name>
		<servlet-class>com.min.edu.ctrl.TeachAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>teachAdd</servlet-name>
		<url-pattern>/teachAddServlet.do</url-pattern>
	</servlet-mapping>

	<!-- 강사 수정 -->
	<servlet>
		<servlet-name>teachUpdate</servlet-name>
		<servlet-class>com.min.edu.ctrl.TeachUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>teachUpdate</servlet-name>
		<url-pattern>/teachUpdateServlet.do</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>manageLec</servlet-name>
		<servlet-class>com.min.edu.ctrl.manageLecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>manageLec</servlet-name>
		<url-pattern>/manageLec.do</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>checkInfo</servlet-name>
		<servlet-class>com.min.edu.ctrl.checkInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkInfo</servlet-name>
		<url-pattern>/checkInfo.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>delCheck</servlet-name>
		<servlet-class>com.min.edu.ctrl.DelCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delCheck</servlet-name>
		<url-pattern>/delCheck.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>insertLec</servlet-name>
		<servlet-class>com.min.edu.ctrl.InsertLecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insertLec</servlet-name>
		<url-pattern>/insertLec.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>searchStuServlet</servlet-name>
		<servlet-class>com.min.edu.ctrl.SearchStuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchStuServlet</servlet-name>
		<url-pattern>/searchStuServlet.do</url-pattern>
	</servlet-mapping>
		<!-- 강사 삭제 -->
	<servlet>
		<servlet-name>teachDel</servlet-name>
		<servlet-class>com.min.edu.ctrl.TeachDelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>teachDel</servlet-name>
		<url-pattern>/teachDelServlet.do</url-pattern>
	</servlet-mapping>

	<!-- 학생전체조회 -->
	<servlet>
		<servlet-name>stuList</servlet-name>
		<servlet-class>com.min.edu.ctrl.StuListServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>stuList</servlet-name>
		<url-pattern>/stuListServlet.do</url-pattern>
	</servlet-mapping>

	<!-- 학생상세페이지 -->
	<servlet>
		<servlet-name>stuInfo</servlet-name>
		<servlet-class>com.min.edu.ctrl.StuInfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>stuInfo</servlet-name>
		<url-pattern>/stuInfo.do</url-pattern>
	</servlet-mapping>

	<!-- 학생정보수정 -->
	<servlet>
		<servlet-name>stuModify</servlet-name>
		<servlet-class>com.min.edu.ctrl.StuModifyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>stuModify</servlet-name>
		<url-pattern>/stuModify.do</url-pattern>
	</servlet-mapping>
	
	<!-- 학생등록 -->
	<servlet>
		<servlet-name>regist</servlet-name>
		<servlet-class>com.min.edu.ctrl.RegistServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>regist</servlet-name>
		<url-pattern>/registServlet.do</url-pattern>
	</servlet-mapping>

	<!-- 메인페이지 이동 -->
	<servlet>
		<servlet-name>mainpage</servlet-name>
		<servlet-class>com.min.edu.ctrl.mainpageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainpage</servlet-name>
		<url-pattern>/mainpageServlet.do</url-pattern>
	</servlet-mapping>
	
	<!-- 강사 검색 -->
	<servlet>
		<servlet-name>searchTeacher</servlet-name>
		<servlet-class>com.min.edu.ctrl.SearchTeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchTeacher</servlet-name>
		<url-pattern>/searchTeacher.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>updateChk</servlet-name>
		<servlet-class>com.min.edu.ctrl.UpdateChkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateChk</servlet-name>
		<url-pattern>/updateChk.do</url-pattern>
	</servlet-mapping>
	

</web-app>