@charset "UTF-8";
.box{
   width: 300px;
   background: #191919;
   text-align: center;
   padding: 40px;
   margin: 100px auto;
}

.box h2{
   color: white;
   text-transform: uppercase;
}

.box input[type=text], .box input[type=password]{
   border: 0px;
   background: none;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #3479db;
   padding: 15px 10px;
   width: 200px;
   outline: none;
   color: white;
   border-radius: 25px;
   transition: 0.2s; 
}

.box input[type=text]:focus, .box input[type=password]:focus{
   width: 280px;
   border-color: orange;
}

.box input[type=submit]{
   border: 0px;
   background: none;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #3479db;
   padding: 15px 10px;
   
   outline: none;
   color: white;
   border-radius: 5px;
   
   width: 100px;
   transition: 0.5s; 
   cursor: pointer;
}

.box input[type=submit]:hover{
   background: yellow;
   color: black;
}
